/*Apenas para o MainPage.html*/
body{
    background-color: lightgrey;
}
/*Lista da navbar/conteudo*/
.NavBar ul li{
    display:inline;
    margin: 10px 20px;
  
}
/*Navbar principal*/
.NavBar{
    background-color: rgb(161, 161, 105);
    width: 100%;
    height: fit-content;  
    position: fixed; 
    top: 0; 
    width: 100%; 
}
/*Lista*/
.NavBar ul {
    font-family: "typoldbook_500",Tahoma,sans-serif;
    font-size: 10px;
}


/* 1 tier da pagina todo*/
.content .FirstTier {
    width: 100%;
    height: 100%;
    background-image: url(../TwebProject/img/MainPageMainImage.jpg);
    background-color: #ff00ff;
}

/*Linhas da Segunda Navbar*/
.content .FirstTier .FirstTierNavBar ul li {
    display:inline;
    margin: 10px 20px;
    font-family: "typoldbook_500",Tahoma,sans-serif;
}

/*A imagem q esta no navbar*/
.content .FirstTier .FirstTierNavBar ul li img {
  width: 150px;
  height: 100px;
}

/*texto*/
.content .FirstTier h1 {
    padding-left: 5%;
    padding-top: 3%;
    font-family: "typoldbook_500",Tahoma,sans-serif;
    text-justify: auto;
    font-size: 50px;
}

/*Barra de pesquisa*/
.conten ,.FirstTier .SearchBar{
  padding: 35%;
    padding-top: 10%;
    display:inline;
}

/*Segundo Navbar*/
.content .FirstTier .FirstTierNavBar{
    width: 100%;
    width: 100%; 
  color: white;
}

/*Todo o conteudo da pagina*/
.content{
width: 100%;
height: 100%;
}
 /*Fazer a "caixa" da segunda tier, meter o fundo e alinhar conteudo*/
.SecondTier .box{
    border: 1px solid ;
    border-color: black;
    background-image: url(../TwebProject/img/BgSecondTierPattern.svg);
    background-color: white;
    text-align: center;
    width: 95%;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

/*Segundo Tier, Alinhar a caixa*/
.SecondTier {
    align-items: center;
    display: flex;
justify-content: center;
height: fit-content;
padding-top: 20px;
}

.corousel {
    border: 2px solid;
    border-color: black;
    background-color: white;
    height: 100px;
    width: 95%;
}