$bgcolor: lightgrey;
$textColor: white;
$secondbgcolor: white ;
$h2color: #8f7608;

body{
    background-color: $bgcolor;
    
}
/*Lista da navbar/conteudo*/
ul li{
    display:inline;
    margin: 10px 20px;
}
.NavBar{
    background-color: rgb(161, 161, 105);
    width: 100%;
    height: fit-content;  
    position: fixed; 
    top: 0; 
    width: 100%; 
}
/*Lista*/
.NavBar ul {
    font-family: "typoldbook_500",Tahoma,sans-serif;
    font-size: 10px;
}

.secondNavbar {
    padding-top: 0%;
    background-color: grey;
    color: $textColor;
   
}

.secondNavbar img {
    width: 15%;
    height: 20%;
}

.navBarOrgazicional {
    padding-top: 0%;
    background-color: $secondbgcolor;
    color: $textColor;
    width: 100%;
    height: fit-content;
    border-top: 2px solid $h2color;
    border-bottom: 2px solid $h2color;
    text-decoration: none;
    margin: auto;
}

.ThirdNavBar{
    top: 0;
    height: fit-content;
    background-color: $secondbgcolor;
}

.Images {
    margin: 0;
    position: absolute;
    padding-top: 3%;
    
    
}
.FirstRow {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
 
}

.firstcolumn  {
    width: 20%;
    height: 20%;
    min-width: 100px;
    border: 3px black;
    border-style: solid;
    text-align: center;
    background-color: $secondbgcolor;
  
  
}

.firstcolumn img {
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}

.firstcolumn h2,small {
    color : $h2color;
}

.navigationBar{
    height: 50px;
    width: fit-content;
    background-color: $secondbgcolor;
}

.navigationBar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px black;
    border-style: solid;
    
}

.bottomBar{
    margin: auto;
    padding-top: 3%;
}
.bottomStuff{
    padding-top: 3%;
}

.leftBottomStuff{
    background-color: $secondbgcolor;
    width: 50%;
    float: left;
}

.rightBottomStuff {
    background-color: $secondbgcolor;
    width: 50%;
    float: right;
}

.leftLeftBotomStuff{
    float: left;
    width: 50%;
}

.leftRightBottomStuff{
    float: left;
    width: 50%;
}


